.hero {
    height: calc(100vh - 56px);
    display: grid;
    place-items: center;
}

.hero .group {
    width: 100%;
}

.hero .sub {
    font-size: 2.5rem;
    color: var(--black-4);
    font-weight: 100;
    margin: 0;
    transition: font-size 0.5s;
    align-items: center;
    display: flex;
    gap: 0.5rem;
}
.hero .sublink {
    font-size: 1.5rem;
    color: var(--black-4);
    font-weight: 100;
    margin: 0;
    transition: font-size 0.5s;
}

.hero .large {
    font-size: 4.2rem;
    color: var(--black-2);
    margin: 0;
    transition: font-size 0.5s;
}

@media screen and (max-width: 800px) {
    .hero .sub {
        font-size: 16px;
    }
    .hero .large {
        font-size: 84px;
    }
}